@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-background text-text font-sans antialiased;
    font-family: 'Inter', sans-serif;
}

.sidebar-item {
  @apply flex items-center gap-3 rounded-md px-3 py-2 text-sidebarText transition-colors hover:bg-sidebarHover;
}

.sidebar-item-active {
  @apply bg-sidebarActive text-white;
}


@keyframes slide-in {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}
